.tabs__content {
    background: #F9FAFC;
}

.tabs__scroller {
    display: flex;
    gap: 40px;
    overflow-x: scroll;
}

.tabs__item {
    display: none;
}

/* all tab checked */
#all-tab:checked ~ .tabs__content_all {
    display: block;
}
#all-tab:checked ~ .tabs__content_complex,
#all-tab:checked ~ .tabs__content_simple,
#all-tab:checked ~ .tabs__content_template {
    display: none;
}

/* complex tab checked */
#complex-tab:checked ~ .tabs__content_complex {
    display: block;
}
#complex-tab:checked ~ .tabs__content_all,
#complex-tab:checked ~ .tabs__content_simple,
#complex-tab:checked ~ .tabs__content_template {
    display: none;
}

/*  simple tab checked */
#simple-tab:checked ~ .tabs__content_simple {
    display: block;
}
#simple-tab:checked ~ .tabs__content_all,
#simple-tab:checked ~ .tabs__content_complex,
#simple-tab:checked ~ .tabs__content_template {
    display: none;
}

/*  template tab checked */
#template-tab:checked ~ .tabs__content_template {
    display: block;
}
#template-tab:checked ~ .tabs__content_all,
#template-tab:checked ~ .tabs__content_complex,
#template-tab:checked ~ .tabs__content_simple {
    display: none;
}

.tabs__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-3);
    padding-bottom: 8px;
    white-space: nowrap;
}

.tabs__title:hover {
    cursor: pointer;
}

#all-tab:checked ~ .tabs__scroller [for="all-tab"],
#complex-tab:checked ~ .tabs__scroller [for="complex-tab"],
#simple-tab:checked ~ .tabs__scroller [for="simple-tab"],
#template-tab:checked ~ .tabs__scroller [for="template-tab"] {
    color: var(--black);
    border-bottom: 5px solid #212429;
}
