.radio {
    display: inline-flex;
    position: relative;
 }
 
 .radio__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
 }
 
 .radio__state {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
 }
 
 .radio__control {
    width: 28px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #DDE2E5;
    border-radius: 50%;
    position: relative;
 }
 
 .radio__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
 }

 .radio__input:checked ~ .radio__state .radio__control {
    border: 2px solid #4263EB;
 }

 .radio__input:checked ~ .radio__state .radio__control:before {
    content: "";
    width: 18px;
    height: 18px;
    background: #4263EB;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
 }
 
 /* focus state */
.radio__input:focus ~ .radio__state .radio__title {
   text-decoration: underline;
}

/* disabled state */
.radio__input:disabled ~ .radio__state {
   cursor: default;
}

.radio__input:disabled ~ .radio__state .radio__control {
   background-color: #DDE2E5;
   border: 1px solid #DDE2E5;
}

.radio__input:disabled ~ .radio__state .radio__title {
   color: #DDE2E5;
}
