.sidemenu__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 16px;
}

.sidemenu__links {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.sidemenu__link {
    text-decoration: none;
    color: var(--black);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.sidemenu__links_mobile {
    row-gap: 16px;
}

.sidemenu__title_mobile {
    color: var(--grey-3)
}

.sidemenu__link_mobile {
    font-size: 16px;
    line-height: 24px;
}

.sidemenu__link:hover {
    opacity: 0.8;
}

.sidemenu__link_active {
    color: #D84910;
    cursor: default
}

.sidemenu__link_active:hover {
    opacity: 1;
}
