.skeleton {
    padding: 24px 40px 32px 24px;
    row-gap: 24px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
}

.skeleton__header {
    display: flex;
    gap: 0px 16px;
}

.skeleton__stub {
    height: 20px;
    width: 100%;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__stub_round {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: var(--grey-2);
}

.skeleton__stub_small {
    width: 40%;
}

.skeleton__stub_medium {
    width: 60%;
}

.skeleton__info {
    flex-grow: 1;
    align-self: center;
    row-gap: 8px;
    display: flex;
    flex-direction: column;
}

.skeleton__content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
