.footer {
    text-align: center;
}

.footer__title {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    margin: 72px 0 32px;
}

.footer__text {
    max-width: 640px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 136px 0;
}

.footer__title_page {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

@media (max-width: 375px) {
    .footer {
        display: none;
    }
}

@media (max-width: 640px) {
    .footer__text {
        width: 100%;
        padding: 0 10px 136px;
    }
}
