.component {
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    background-color: var(--white);
    padding-top: 32px;
}

.component__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4);
    padding-left: 48px;
    margin-bottom: 58px;
}
