.template {
    height: 100%;
    background-color: var(--page-bg);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
                         "main"
                         "footer";
}

.template__header {
    grid-area: header;
}

.template__main {
    display: grid;
    grid-area: main;
    grid-template-areas: 'sidebar content';
    grid-template-columns: 229px 1fr;
    column-gap: 56px;
    padding: 0 11%;
}

.template__sidebar {
    grid-area: sidebar;
}

.template__component {
    grid-area: content;
}

.template__footer {
    grid-area: footer;
}

@media (max-width: 768px) {
    .template__main {
        grid-template-areas: 'content';
        grid-template-columns: 1fr;
    }
}
