.preview {
    background: #F9FAFC;
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
    padding: 68px 0 204px;
}

.preview__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
